:host {
    height: 100%;
}

.create_container {

    position: relative;
    display: flex;
    flex-direction: column;

    .create_title_container {

        padding-top: 80px;
        padding-bottom: 20px;

        .create_title {
            display: flex;
            justify-content: center;
        }
    }

    .global_time_option {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item_container {

        display:flex;
        justify-content: center;
        margin-top: 30px;

        .left_fields {
            margin-right: 30px;
            display: flex;
            border: 1px solid black;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
            justify-content: center;

            .item_entry_fields {
                
                width: 220px;
                font-size: 15px;
                white-space: nowrap;
                align-items: center;
                

                .item_label_container {
                    background-color: skyblue;
                    display: flex;
                    height: 13.5%;
                    border-bottom: 1px solid black;
                    justify-content: center;
                    padding-top: 4px;
                    font-size: 15px;
                    
                }
            }
        }

        .right_fields {
            float: right;
            display: flex;
            text-align: center;

            .option {
                border: 1px solid black;
                width: 180px;
                margin: 0 8px;
                box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
                
                .option_label {
                    background-color: rgb(8, 111, 151);
                    color: white;
                    padding: 5px 0;
                    font-size: 20px;
                    border-bottom: 1px solid black;
                }

                .option_body {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 8px 0;
                    font-size: 15px;
                }               
            }
        }      
    }

    .add_new_container {
        display: flex;
        justify-content: center;
        margin-top: 45px;

        button {
            border: none;
            font-size: 15px;
        }

        button:hover {
            text-decoration: underline;
        }
    }

    .done_container {

        display: flex;
        justify-content: center;
        padding-top: 20px;

        button {
            background-color: white;
            padding: 5px 15px;
            font-size: 20px;
            border-radius: 10%;
            border: 1px solid rgb(8, 111, 151);
            opacity: .8;
            margin: 0px 30px;
            margin-top: 50px;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
 
        }

        button:active {
            background-color: rgb(8, 111, 151);
            box-shadow: 0 2px #666;
            transform: translateY(4px);
        }

        button:hover {
            background: rgb(8, 111, 151);
            color: white;
            opacity: 1;
        }
    }

}

input {
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif

}