
.global__time__option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


.left__fields {
    margin-right: 30px;
    display: flex;
    border: 1px solid black;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
    justify-content: center;

    .item__entry__fields {
        
        width: 220px;
        font-size: 15px;
        white-space: nowrap;
        align-items: center;
        

        .item__label__container {
            background-color: skyblue;
            display: flex;
            height: 13.5%;
            border-bottom: 1px solid black;
            justify-content: center;
            padding-top: 4px;
            font-size: 15px;
            
        }
    }
}

.right__fields {
    display: flex;
    text-align: center;

    .option {
        width: 180px;
        margin: 0 8px;

        .option__body {
            justify-content: center;
            padding: 8px 0;
        }               
    }
}      

.add__new__container {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    button {
        border: none;
        font-size: 15px;
    }

    button:hover {
        text-decoration: underline;
    }
}

.buttons__container {

    padding-top: 20px;

    .buttons { 
        margin: 0px 30px;
    }
}