
.files__and__buttons {
    
    margin: 0 15%;

    .manage__file__container {

        #Experiments
        {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            /*border-collapse: collapse;*/
            border: 1px solid darkgray;
            border-bottom: 3px solid darkgray;
            width: 100%;
        }

          
        #Experiments td, #Experiments th 
        {
             padding: 8px;
        }
  
        #Experiments tr:nth-child(even){background-color: #f2f2f2;}
  
        #Experiments tr:hover {background-color: #ddd;}
  
        #Experiments th 
        {
             padding-top: 12px;
             padding-bottom: 12px;
             text-align: center;
             background-color: rgb(8, 111, 151);
             color: white;
        }
    }


    .manage__button__container {

        padding-top: 40px;

        .right__buttons__container {
            float: right;
        } 
        
        button {
            padding: 5px 20px;
            margin: 5px;
            font-size: 15px;
            border-radius: 10%;
            border: 2px solid rgb(8, 111, 151);
            opacity: .8;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
            float: left;
        }

        button:active {
            background-color: rgb(8, 111, 151);
            box-shadow: 0 2px #666;
            transform: translateY(4px);
        }

        button:hover {
            background: rgb(8, 111, 151);
            color: white;
            opacity: 1;
        }
    }
}  