
.files__and__buttons {
    
    margin: 0 15%;

    .manage__button__container {

        padding-top: 40px;
        margin: auto;
        text-align: center;

        button {
            padding: 5px 20px;
            margin: 5px;
            font-size: 15px;
            border-radius: 10%;
            border: 2px solid rgb(8, 111, 151);
            opacity: .8;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 6px 36px 0 rgba(0,0,0,0.19);
            
        }

        button:active {
            background-color: rgb(8, 111, 151);
            box-shadow: 0 2px #666;
            transform: translateY(4px);
        }

        button:hover {
            background: rgb(8, 111, 151);
            color: white;
            opacity: 1;
        }
    }
}  
.paragraph__box {

    display: flex;
    flex-direction: column;
    padding: 55px 50px;
    width: 600px;

    .top__container {

        display: flex;
        flex-direction: start;
        align-items: center;
        justify-content: center;
        margin: 30px;
        font-weight: bold;

        h5{
            color: slategray;
            font-style: italic;
        }
    }

    .bottom__container {

        display: flex;
        justify-content: center;
        margin: 30px;


        .left__container {
            display: flex;
            align-items: center;
            margin-right: 20px;
            font-weight: bold;

        }

        .right__container {
            display: flex;
            align-items: center;
            
        }
    }

}